
body{
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background: #000080;
    width: 600px;
    height: 350px;
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    border: solid 2px #fff;
    flex-direction: column;


}
h1 {

    font-size: 105px;
    
}
h1  span{
    font-size: 105px;
    padding: 10px   ;
}


button{
  
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
}


#start{
    background: rgb(29, 80, 8);
}
#stop{
    background: rgb(98, 4, 4);
}
#reset{
    background: rgb(1, 5, 21);
}